.message-box{
  img{ max-width:100%;}
  .inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right:1px solid #c4c4c4;
  }
  .inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
  }
  .top_spac{ margin: 20px 0 0;}

  .box-header{
    .chat_img{
      width: 8%;
    }
    .chat_ib{
      width: 92%;
      padding-left: 0px;
      h5{
        line-height: 35px;
      }
      a{
        text-decoration: none;
        i{
          font-size: 20px;
          line-height: 2;
        }
      }
    }

  }

  .recent_heading {float: left; width:35%;}
  .srch_bar {
    display: inline-block;
    text-align: right;
    width: 65%;
  }
  .headind_srch{ padding:10px 29px 10px 20px;
    height:55px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

  .recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
  }
  .srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
  .srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
  }
  .srch_bar .input-group-addon { margin: 0 0 0 -27px;}

  .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
  .chat_ib h5 span{ font-size:13px; float:right;}
  .chat_ib p{ font-size:14px; color:#989898; margin:auto}
  .chat_img {
    float: left;
    width: 11%;
  }
  .chat_ib {
    float: left;
    padding: 0px;
    width: 100%;
  }


  .chat_people{ overflow:hidden; clear:both;  }
  a.unread{
    width: 100%;
    display: inline-block;
    background-color: #272a2e;
    color: white!important;
    .chat_ib h5,p{
      color: white;
    }
    .active_chat{
      .chat_ib h5,p{
        color: #464646;
      }
    }

  }
  .chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
  }
  .chat_people.header{
    .chat_img {
      float: left;
      width: 8%;
    }
    .chat_ib {
      float: left;
      padding: 0px;
      width: 92%;
      h5{
        line-height:35px;
      }
    }
  }
  .inbox_chat { height: 560px; overflow-y: scroll;}

  .active_chat{ background:#ebebeb;}

  .incoming_msg{
    overflow: hidden;
    margin: 8px 0px;
  }
  .incoming_msg_img {
    display: inline-block;
    width: 6%;
  }
  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
  }
  .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }
  .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 5px 0px;
  }
  .received_withd_msg { width: 57%;}
  .mesgs {
    float: left;
    padding: 30px 15px 0 15px;
    width: 60%;
  }

  .sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
  }
  .outgoing_msg{ overflow:hidden; margin:8px 0px}
  .sent_msg {
    float: right;
    width: 46%;
  }
  .input_msg_write input,textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
  }

  .type_msg {border-top: 1px solid #c4c4c4;position: relative;}
  .msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
  }
  .messaging { padding: 0 0 50px 0;}
  .msg_history {
    height: 475px;
    overflow-y: auto;
  }
}

@media screen and(max-width: 768px) {
  .message-box{
    .inbox_people {
     width: 100%;
    }
    .inbox_chat{
      height: auto;
    }
    .msg_history{
      height: 350px;
      .incoming_msg_img{
        width: 12%;
      }
      .received_msg{
        padding-left: 5px;
        width: 85%;
      }
    }
    .mesgs{
      padding: 0px 10px;
    }
    .headind_srch{
      height: auto;
      padding: 10px;
      .box-header{
        .chat_img{
          width: 20%;
        }
        .chat_ib{
          width: 80%;
          padding-left: 0px;
          h5{
            line-height: 35px;
          }
          a{
            text-decoration: none;
            i{
              font-size: 20px;
              line-height: 2;
            }
          }
        }
      }
      .recent_heading{
        width: 100%;
      }
      .srch_bar{
        width: 100%;
        text-align: center;
        input{
          margin-top: 10px;
          padding-left: 0px;
          width: 80%;
        }
      }
    }
    .chat_list{
      padding: 10px;
    }
    .chat_ib {
      h5 {
        margin: 0px;
        span{
          font-size: 10px;
          line-height: 2;
          float: right;
        }
      }
    }

    .mesgs{
      width: 100%;
      clear: both;
    }
    .sent_msg,.received_withd_msg{
      max-width: 90%;
      width: auto;
    }
  }
}
